@model SpartezSoftware.Synchronizer.Domain.Entity.SyncProfile

<div id="profile-filters" class="vue-container filters-container">
    <profile-filters profile-guid="@Model.Guid" load-on-init="true"/>
</div>