@{
    ViewBag.Title = "Settings - TFS4Jira Synchronizer";
}

<div>
    <div class="vue-container" id="smtp-configuration">
        <smtp-configuration load-on-init="true"></smtp-configuration>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#menu-settings').addClass('selected');
    });
</script>
