@using System.Runtime.InteropServices
@using Newtonsoft.Json
@using synchronizer.Controllers

@model synchronizer.Models.SyncProfileErrorModel

<div class="wizard-container">
    @Model.Error
</div>