@helper LinkToOnlineDocumentation(string sectionName = null, string text = "TFS4JIRA online documentation")
{
    var url = "http://tfs4jira.spartez.com/context_help?source=tfs4jirasynchronizer" 
        + (sectionName != null ? "&section=" + sectionName : "")
        + "&build_version=" + synchronizer.BuildInfo.Version 
        + "&build_number=" + synchronizer.BuildInfo.BuildNumber;
    <a target="_blank" href="@(url)">@(text)</a>
}
