<div class="clone-sync-profile-dialog">
    <div class="message-box info">
        <span class="message-icon"></span>
        You can create a new synchronization profile based on the existing one. The created synchronization profile will be disabled by default.
        <br /><br />
        Please note that TFS check-ins scanning configuration associated with selected synchronization profile will not be cloned.
    </div>
    <br />
    <form class="clone-sync-profile-form">
        <span class="label" style="margin-right: 10px;">Synchronization profile name: </span>
        <span class="editbox"><input class="clone-sync-profile-name" name="name" type="text" value=""></span>
    </form>
</div>