<p>After TFS4Jira Synchronizer detects modification in one of the mapped fields, it copies the changed value to linked peer item (be it issue or work item). On this view you can configure how should the value be mapped.</p>
<p>
    There are two available modes:
    <ul>
        <li><strong>Copy values</strong></li>
        When Copy values mode is selected, TFS4Jira Synchronizer simply copies a modified value attempting to perform type convertion if needed (for example when a numerical field is mapped to string field).
        <li><strong>Map values</strong></li>
        This mode is applicable to dictionary-type fields only. After selecting Map values mode you are able to specify
        <ul>
            <li>mapping direction</li>
            <li>value pairs</li>
            <li>default values, i.e. values that are to be set, when unmapped value is encountered</li>
        </ul>
    </ul>
</p>
<p>Visit @HelpHelpers.LinkToFieldMappingsDocumentation() for more help.</p>