<p>This view contains a list of defined synchronization profiles.</p>
<p>You can define as many profiles as you want. Profiles can be enabled independently.</p>
<p>Visit @HelpHelpers.LinkToViewAndManageProfileDocumentation() for more help.</p>
