<p>
    This page contains advanced settings of your synchronization profile.
    Typically you should not touch anything here, because defaults should be appropriate in most typical scenarios.
</p>
<p>
    Only change these settings when you are sure know what you are doing.
</p>