<p>On this view you can provide some basic profile properties, such as: name, synchronization interval, error handling mode and JIRA and TFS servers location and credentials. Switch to a "Field Mappings" tab to configure field mappings.</p>
<p>Visit @HelpHelpers.LinkToOnlineDocumentation("edit_profile_settings") for more help.</p>