<p>This view contains a list of all synchronization errors for the selected profile.</p>
<p>Click on an error summary to view more detailed information.</p>
<p>Visit @HelpHelpers.LinkToSyncErrorsDocumentation() for more help.</p>