<p>This page lets you manage source code check-ins synchronization profile.</p>
<p>
    You can set up a <strong>Jira URL</strong> that will be able to receive information about changesets scanned by this profile. 
    <strong>Password</strong> is used to encrypt data transferred between the synchronizer and Jira
</p>

<p>
    <strong>TFS Source Repositories</strong> is a list of locations in your TFS server(s), which will be scanned for source code check-ins
</p>

Visit @HelpHelpers.LinkToCheckinsConfigurationDocumentation() for more information