<p>
    This page lets you manage source code check-ins synchronization profiles. 
</p>
<p>
    One such profile is needed for each Jira instance, in which you want to display TFS source code check-ins
</p>
Visit @HelpHelpers.LinkToCheckinsConfigurationDocumentation() for more information.