<p>This view enables you to configure which TFS work item fields are to be mapped to which Jira issue fields and vice versa.</p>
<p><strong>Basic Mappings</strong> section contains a list of crucial mappings that must be configured in order to enable synchronizations.</p>
<p>In <strong>Other Mappings</strong> section you can define additional field pairs. Click on "Values" link near a defined fields pair to configure values mapping for the fields.</p>
<p>Visit @HelpHelpers.LinkToFieldMappingsDocumentation() for more help.</p>