<p>
    This page lets you manage source code check-ins synchronization profiles. 
</p>
<p>
    One such profile is needed for each JIRA instance, in which you want to display TFS source code check-ins
</p>
Visit @HelpHelpers.LinkToOnlineDocumentation("checkins_sync_ondemand_config") for more information.

<p>
    If you are interested in TFS check-ins synchronization you may be also interested in our open source
    @HelpHelpers.LinkToOnlineDocumentation("checkins_vs_policy_plugin", "JIRA issue key check-in policy plugin for Visual Studio.")
    Please take a look at its @HelpHelpers.LinkToOnlineDocumentation("checkins_vs_policy_plugin", "home page") for details.
</p>