<p>
    Input host machine user's Windows credentials to log in.
</p>
<p>
    To allow or deny access to TFS4JIRA Synchronizer management functions, change ACL on the following file on the host machine:<br /><br />
    <textarea readonly="readonly" style="width: 100%">@(ViewBag.aclFile)</textarea>
    Both <strong>Read</strong> and <strong>Write</strong> permissions are required for a user to be able to log in.
</p>
<p>Visit @HelpHelpers.LinkToOnlineDocumentation("login") for more help.</p>