@{
    ViewBag.Title = "Errors - TFS4Jira Synchronizer";
}

<div class="vue-container" id="logging-events">
    <logging-events load-on-init="true"/>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#menu-logging-events').addClass('selected');
    });
</script>
